<!DOCTYPE html>
<html>

<head>

<title>About</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body class="about">

<nav>

<a href="/">Home</a>

<a href="/about">About</a>

<a href="/findyourcrop">Find Your Crop</a>

</nav>

<div class="card">

<h1>About OptiCrop</h1>

<p>

OptiCrop is an AI-powered agricultural recommendation system that predicts the best crop based on soil nutrients and climatic conditions.

The project uses Machine Learning to help farmers improve crop yield and support sustainable farming.

</p>

</div>

</body>

</html>