<!DOCTYPE html>
<html>
<head>
    <title>OptiCrop</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="home">

<nav>

<a href="/">Home</a>

<a href="/about">About</a>

<a href="/findyourcrop">Find Your Crop</a>

</nav>

<div class="overlay">

<h1>OptiCrop</h1>

<h2>Smart Agricultural Production Optimization Engine</h2>

<p>
AI Powered Crop Recommendation System
</p>

<a href="/findyourcrop">
<button>Predict Crop</button>
</a>

</div>

</body>
</html>